__pycache__

/models/NMRPeak/weights/
/models/NMRPeak/data/*.parquet
/models/NMRTrans/data/
/models/NMRTrans/model/*.ckpt
/models/UltraNMR/model_checkpoint/
/models/UltraNMR/Chemberta_ckpt/model.safetensors
/models/NMR-Solver/data/
/models/NMR-Solver/database/
/datasets/properties/tdc_admet/admet_group/
/tmp/
/runs/
/dataset_overlap_audit/
/datasets_old
/scripts/model_benchmarks/serverless
/embeddings

*.png
*.parquet
*.lmdb
*.pt
*.pth
*.ckpt
*.pkl
*.safetensors
*.lz4
*.csv
*.csv.gz
*.zip
*.parquet.partial
*.log

